.footer__address-link {
  display: block;
  margin: 0 auto 8px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;

  @media screen and (min-width: 1200px) {
    margin: 0 auto 9;
    text-align: start;
  }
}
