.footer__logo {
  display: block;
  margin: 0 auto 20px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #2196f3;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.logo-white {
  color: #ffffff;
}
