.footer__inner {
  padding: 60px 0;

  @media screen and (min-width: 768px) {
    padding: 60px 67px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    padding: 60px 0;
    justify-content: space-between;
  }
}
