@media screen and (max-width: 767px) {
  .header__menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 48px 10px 48px 40px;
    background-color: #fff;
  }
  &.is-open {
    display: block;
  }
}
