@media screen and (max-width: 767px) {
  .header__contacts-list {
    margin-bottom: 64px;
  }
  .header__contacts-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .header__contacts-icon {
    display: none;
  }
  .header__contacts-phone {
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: $accent-color;
  }
  .header__contacts-email {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $text-color;
  }
}

@media screen and (min-width: 768px) {
  .header__contacts-list {
    display: flex;
    flex-direction: column;
  }

  .header__contacts-item:first-child {
    order: 2;
    margin-top: 10px;
  }

  .header__contacts-icon {
    margin-right: 8px;
  }

  .header__contacts-phone,
  .header__contacts-email {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $text-color;

    &:hover,
    &:focus {
      color: $accent-color;
    }
    &:hover .header__contacts-icon,
    &:focus .header__contacts-icon {
      fill: $accent-color;
    }
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts-list {
    flex-direction: row;
  }
  .header__contacts-item:first-child {
    margin: 0 0 0 30px;
  }
  .header__contacts-icon {
    margin-right: 10px;
  }
  .header__contacts-phone,
  .header__contacts-email {
    font-size: 14px;
    line-height: 1.14;
  }
}
