.projects__item {
  border: 1px solid #eeeeee;
}

@media screen and (max-width: 767px) {
  .projects__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .projects__item {
    flex-basis: calc((100% / 2) - 34px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects__item {
    flex-basis: calc((100% / 3) - 36px);
  }
}
