.projects__item {
  overflow: hidden;
  border: 1px solid #eeeeee;
  margin: 15px;
}

@media screen and (max-width: 767px) {
  .projects__item:not(:last-child) {
  }
}

@media screen and (min-width: 768px) {
  .projects__item {
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .projects__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.projects__link {
  cursor: pointer;
}
