.team__socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 206px;
  margin: 0 auto;
}

.team__socials-item {
  width: 44px;
  height: 44px;
  padding: 12px;
}

.team__socials-icon {
  fill: #afb1b8;
}
